

* {
margin: 1rem;
padding: 0;
font-weight: 600;


}

.navbar {
    display: flex;
   
    
    &__list{
        display: flex;
        justify-content: space-evenly;
        font-size: 1rem;
        width: 100%;
        height: auto;
        border: 1px rgb(179, 146, 146) solid;
        background-color: rgb(122, 106, 106, 0.2);
        border-radius: 0.5rem;

        li, a {
            text-decoration: none;
            color:black;
            list-style-type: none;
        }

        a:hover {
            color: rgb(184, 150, 150)
        }
       
    }
}

.active {
    a {
        color:rgb(184, 150, 150)
    }
}