div {
    display: flex;
    justify-content: space-evenly;
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(137, 102, 102);
    width: 8rem;
    height: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color: rgb(167, 143, 143, 0.8);
    border-radius: 0.5rem;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

p {
    display: flex;
    align-items: center;
    justify-content: center;

}