p{
    display: flex;
    justify-content: center;
}

.form-main{
    border: 1px black solid;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: rgb(154, 138, 138);
}

.form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem

}
button {
    cursor: pointer;
}
